

#aboutMe{
 
    font-size: 24px;
    color: teal;
    padding-left: 20px;
}

#aboutLine{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 200%;
}

#portrait{
    background: white;
    float: left;
    padding-right: 5px;
    padding-top: 13px;
    
}
.wrapper{
    clear: both;
    position: relative;
    background: grey;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
    margin-bottom: 50px;
    margin-top: 150px;
}
.content{
    width: 920px;
    height: 500px;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
}

#logo{
    float: left;
    width: 250px;
    height: 90px;
    color: white;
    background: #4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
}

#headerNav{
    position: relative;
    width: 90%;
    background: #ffffff;
    color:#ffff;
    border-bottom: 2px solid #ccc;
    margin-bottom: 50px;
    float: left;

}

nav a{
    display: inline-block;
    text-decoration: none;
    border-left: 1px solid #cccccc;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 15px;
    color: #cccccc;
    padding-bottom: 67px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
