

#contact{
    font-size: 24px;
    color: teal;
    padding-left: 20px;
}

#contactName{
    padding-bottom: 5px;
    margin-bottom: 5px;

}

#txtName{
    width: 910px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#email{
    margin-top: 10px;
    padding-top: 10px;
}
#txtEmail{
    width: 910px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#message{
    margin-top: 5px;
}
#txtMessage{
    width: 910px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#submit{
 background: teal;
 color: white;
 font-weight: bold;
}

.wrapper{
    clear: both;
    position: relative;
    background: grey;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    float: left;
    margin-bottom: 50px;
    margin-top: 150px;
}

.content{
    width: 960px;
    height: 500px;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
}

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
